{% extends "base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
<!-- ##### Menu ##### -->
    <div class="row">
        <div class ="titles-box" >
            <h1 class = "titles-top">Verifique seu E-mail!</h2>
                <h3 class = "titles-bottom"></h3>
        </div>
    </div>

    <div class="container">
        <div class="row white">
<p>
{{ 'resetting.check_email'|trans({'%email%': email}) }}
</p>
</div>
    </div>
{% block javascripts %}
        {% javascripts
        '@AppBundle/Resources/js/jquery-2.1.1.min.js'
        '@AppBundle/Resources/js/materialize.js'
        '@AppBundle/Resources/js/init.js'
        '@AppBundle/Resources/js/jquery.formatter.min.js'
        '@AppBundle/Resources/js/swiper.min.js'
        '@AppBundle/Resources/js/confirmed.js'%}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}
{% endblock body %}
